<!--The content below is only a placeholder and can be replaced.-->
<div class="container-fluid">
    <header class="hero">
        <div class="hero-wrapper">
            <!--============ Main Navigation ====================================================================-->
            <div class="main-navigation">
                <div class="container">
                    <nav class="navbar navbar-expand-lg navbar-light">
                        <a class="navbar-brand" href="">  
                            <img src="../assets/images/myHammer.png" alt="MyHammer logo" width="250">                      
                        </a>
                    </nav>
                    <!--end navbar-->
                </div>
                <!--end container-->
            </div>
            <!--============ End Main Navigation ================================================================-->
            <!--============ Page Title =========================================================================-->
            <div class="page-title">
                <div class="container">
                    <h1 class="center">
                        <a>Find craftsmen and service providers for every job</a>
                    </h1>
                </div>
                <!--end container-->
            </div>
            <!--============ End Page Title =====================================================================-->
        </div>
        <!--end hero-wrapper-->
      </header>
  <router-outlet></router-outlet>
</div>

